
/* INDEX HTML */

.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

/* HOME PHP */

.card-home {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

/* CONSULTAR CHAMADO PHP */

.card-consultar-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

/* ABRIR CHAMADO PHP */

.card-abrir-chamado {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

/* LOGOFF PHP */


/* REGISTRA CHAMADO PHP */


/* VALIDA LOGIN PHP */


/* VALIDADOR ACESSO PHP */
